/* STYLES FOR CALENDAR COMPONENT */
#date-time-container {
  box-sizing: border-box;
}

#schedule-container {
  float: left;
  width: 70%;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.32);
  min-height: 100%;
  height: 16em;
  max-height: 16em;
}

#widget {
  float: left;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.32);
}

#widget-info {
  width: 100%;
}

.info-row {
  font-family: "Lato", Arial, Helvetica, Sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000000;
  color: #fff;
  width: 100%;
  padding: 1.5em 0 1em .25em;
  letter-spacing: 2px;
}

.course-row {
  color: #000000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  padding: .75em 0 .75em .25em;
}

ul#widget > li:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.row-start-time, .row-end-time, .row-course-name, .row-room-number, .row-crn {
  display: inline-block;
  vertical-align: top;
}

.row-room-number {
  text-align: center;
  width: 10%;
}

.course-row .row-room-number {
  font-size: 2em;
}

.row-course-name {
  width: 75%;
  box-sizing: border-box;
}

.course-row .row-course-name {
  font-size: 1.7em;
}

span.instructor {
  font-family: "Lato", Arial, Helvetica, Sans-serif;
  font-size: 65%;
}

.row-class-time {
  width: 10%;
  text-align: center;
}

.row-start-time, .row-end-time {
  font-size: 1.25em;
}

/* STYLES FOR CLOCK COMPONENT */
#current-time {
  display: inline-block;
  position: absolute;
  bottom: 2em;
  right: 5em;
  padding-bottom: 1em;
  margin: 0 2em 3em 0;
  border-bottom: 6px solid #f15a22;
}

#clock, #date {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 1.2em;
}

#date {
  font-size: 1.7em;
}

#clock {
  font-size: 5em;
}

/* CPINFO STYLING */
.textform {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
}

.uportal-head24 {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 24px;
}

.uportal-head20-bold {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.uportal-head18-bold {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.uportal-head16-bold {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.uportal-head14-bold {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.uportal-text12-bold {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.uportal-text11-bold {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.uportal-text {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14px;
}

.uportal-text-small {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10px;
}

.uportal-input-text {
  color: #000000;
  font-size: 12px;
  font-family: verdana, helvetica, arial, sans-serif;
  background: #CCCCFF;
}

.uportal-copyright {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 11px;
  color: #000000;
  font-style: italic;
}

.uportal-channel-text {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 18px;
}

.uportal-channel-title {
  color: #000000;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.uportal-channel-strong {
  font-weight: bold;
  font-size: 12px;
  font-family: verdana, helvetica, arial, sans-serif;
}

.uportal-channel-code {
  color: #000000;
  font-size: 12px;
  font-family: verdana, helvetica, arial, sans-serif;
}

.uportal-channel-copyright {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 11px;
  color: #000000;
  font-style: italic;
}

.uportal-background {
  background: #fff;
}

.uportal-background-dark {
  background: #666699;
}

.uportal-background-med {
  background: #CCCCCC;
}

.uportal-background-light {
  background: #EFEFEF;
}

.uportal-background-content {
  background: #fff;
}

.uportal-background-highlight {
  background: #FFFFCC;
}

.uportal-background-shadow {
  background: #000000;
}

.bgmlight {
  background-color: #999999;
}

.border {
  width: auto;
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border: solid;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #999999;
}

.copyright {
  color: #666666;
  font-size: 8px;
}

.bgtabon {
  background-color: #0066CC;
}

.bgtaboff {
  background-color: #DDDDDD;
}

.texttabon {
  color: #fff;
}

.texttaboff {
  color: #000000;
}

.tabon {
  background-color: #0066CC;
  background-image: url(/cps/images/misc/tab_corner.gif);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
}

.taboff {
  background-color: #eeeeee;
  background-image: url(/cps/images/misc/tab_corner.gif);
  background-repeat: no-repeat;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: arial, sans-serif;
}

body {
  font-family: "Adelle", "Bitter", Georgia, serif;
  background: black;
  height: 100%;
  overflow: hidden;
}

#classfeed {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-image: url("/img/langara-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -100;
}

h1 {
  font-family: "Adelle", "Bitter", Georgia, serif;
  font-size: 2.7em;
  margin: 0;
  font-weight: 700;
}

h3 {
  font-family: "Lato", Arial, Helvetica, Sans-serif;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
  font-size: 1.25em;
}

p {
  font-family: "Lato", Arial, Helvetica, Sans-serif;
  font-size: 1.25em;
  line-height: 1.3em;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.day {
  background-image: url("../../images/background.jpg");
  background-size: cover;
  background-position: 0px -1750px;
  background-repeat: no-repeat;
}

.sunset {
  background-image: url("http://www.langara.ca/continuing-studies/classrooms/images/sunset.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.night {
  background: url("http://www.langara.ca/continuing-studies/classrooms/images/night.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
