//document imports
@import "_mixins/_color.sass"
@import "_components/_calendar.sass"
@import "_components/_clock.sass"
@import "_components/_cpinfo.sass"

//main styling

*
    box-sizing: border-box
    margin: 0
    font-family: arial, sans-serif

body
    font-family: "Adelle", "Bitter", Georgia, serif
    background: black
    height: 100%
    overflow: hidden


#classfeed
    position: absolute
    width: 1920px
    height: 1080px
    background-image: url("/img/langara-min.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    z-index: -100


h1
    font-family: "Adelle", "Bitter", Georgia, serif
    font-size: 2.7em
    margin: 0
    font-weight: 700


h3
    font-family: 'Lato', Arial, Helvetica, Sans-serif
    text-transform: uppercase
    margin: 0
    letter-spacing: 1px
    font-size: 1.25em


p
    font-family: 'Lato', Arial, Helvetica, Sans-serif
    font-size: 1.25em
    line-height: 1.3em


ul, li
    margin: 0
    padding: 0
    list-style-type: none


.day
    background-image: url("../../images/background.jpg")
    background-size: cover
    background-position: 0px -1750px
    background-repeat: no-repeat


.sunset
    background-image: url("http://www.langara.ca/continuing-studies/classrooms/images/sunset.jpg")
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

.night
    background: url("http://www.langara.ca/continuing-studies/classrooms/images/night.jpg")
    background-size: cover
    background-position:  center center
    background-repeat: no-repeat
